@font-face {
  font-family: 'IranSansLight';
  src: url('../fonts/IRANSans-Light.eot');
  src: url('../fonts/IRANSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IRANSans-Light.woff') format('woff'),
  url('../fonts/IRANSans-Light.ttf') format('truetype'),
  url('../fonts/IRANSans-Light.svg#IRANSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranSansBold';
  src: url('../fonts/IRANSans-Bold.eot');
  src: url('../fonts/IRANSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IRANSans-Bold.woff') format('woff'),
  url('../fonts/IRANSans-Bold.ttf') format('truetype'),
  url('../fonts/IRANSans-Bold.svg#IRANSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.hasTransition(@time) {
  -webkit-transition: all @time ease-in-out;
  -moz-transition: all @time ease-in-out;
  -o-transition: all @time ease-in-out;
  transition: all @time ease-in-out;
}

.hasTransitionSpecific(@type, @time) {
  -webkit-transition: @type @time ease-in-out;
  -moz-transition: @type @time ease-in-out;
  -o-transition: @type @time ease-in-out;
  transition: @type @time ease-in-out;
}

/* Setup */
* {
  font-family: 'IranSansLight';
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding: 0;
  margin: 0;

  &:focus {
    outline: 0;
  }
}

html, body {
  overflow-x: hidden;
}
